{% include header.html %}
    <section id="masthead">
        <div class="wrapper">
            {% include nav.html %}
            <div id="intro">
                <h2>MonkeySpace 2013</h2>
                <h2>July 22-25</h2>
                <p>MonkeySpace, formerly known as Monospace, is the official cross platform and open-source .NET conference. Want to learn more about developing for the iPhone, Android, Mac, and *nix platforms using .NET technologies? How about developing games or learning more about open-source projects using .NET technologies? MonkeySpace has provided an annual venue to collaborate, share, and socialize around these topics and more.</p>
                <!--a class="guestlist-event-150132"><span class="date">22nd Jul</span>Register Now</a>
                <a href="#" data-reveal-id="ticket-info"> * Ticket Information</a-->
            </div>
            <div id="intro-videos">
                <div id="intro-video-player">
                    <div id="video-promo1" class="selected">
                        <iframe src="http://player.vimeo.com/video/60113218" width="480" height="270" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                    </div>
                    <div id="video-promo2">
                        <iframe src="http://player.vimeo.com/video/60113219" width="480" height="270" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                    </div>
                    <div id="video-promo3">
                        <iframe src="http://player.vimeo.com/video/60655905" width="480" height="270" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                    </div>
                </div>
                <div id="intro-video-nav">
                    <a href="#video-promo1" class="selected"><img src="/images/videos/promo1.png" alt="MonkeySpace Promo 1" width="120" height="68" /></a>
                    <a href="#video-promo2"><img src="/images/videos/promo2.png" alt="MonkeySpace Promo 2" width="120" height="68" /></a>
                    <a href="#video-promo3"><img src="/images/videos/promo3.png" alt="MonkeySpace Promo 3" width="120" height="68" /></a>
                </div>
            </div>
        </div>
    </section>
    {{ content }}
{% include footer.html %}
