{% include header.html %}
    <section id="masthead">
        <div class="wrapper">
            {% include nav.html %}
            <div id="intro">
                <h2>Monospace 2012</h2>
                <p>Monospace is the official cross platform and open-source .NET conference. Want to learn more about developing for the iPhone, Android, Mac, and *nix platforms using .NET technologies? How about developing games or learning more about open-source projects using .NET technologies? Monospace has provided an annual venue to collaborate, share, and socialize around these topics and more.</p>
                <a class="guestlist-event-92640"><span class="date">17th Oct</span>Register Now</a>
                <a href="#" data-reveal-id="ticket-info"> * Ticket Information</a>
            </div>
        </div>
    </section>
    {{ content }}
{% include footer.html %}
