{% include header.html %}
    <section id="masthead">
        <div class="wrapper">
            {% include nav.html %}
            <div id="intro">
                <h2>MonkeySpace 2013</h2>
                <h2>July 22-25</h2>
                <p>MonkeySpace, formerly known as Monospace, is the official cross platform and open-source .NET conference. Want to learn more about developing for the iPhone, Android, Mac, and *nix platforms using .NET technologies? How about developing games or learning more about open-source projects using .NET technologies? MonkeySpace has provided an annual venue to collaborate, share, and socialize around these topics and more.</p>
                <a class="guestlist-event-150132"><span class="date">22nd Jul</span>Register Now</a>
                <a href="#" data-reveal-id="ticket-info"> * Ticket Information</a>
            </div>
        </div>
    </section>
    {{ content }}
{% include footer.html %}
